/* GLOBAL CSS by DLSMIZEL 2014 */

div, p
{ display:block; position: relative; margin: 0px; padding: 0px; }

p
{ font-size: 1em; line-height:1.8; margin-bottom:20px;  }

h1,h2,h3,h4,h5,h6
{ display:block; margin: 0px; padding:0px; font-family: 'Montserrat', sans-serif; }

label
{ display:block; width:100%; height:0px; overflow:hidden; float:none; clear:both; }

a, button
{ cursor:pointer; text-decoration: none; outline:0; font-family: 'Montserrat', sans-serif; }

a:hover
{ text-decoration: underline; }

.bg_fff
{ background-color: #fff; }

.bg_darkgray
{ background-color: #2e323a; }

.bg_gray
{ background-color:#f3f3f3; }

.bold
{ font-weight: bold; }

.current_bold
{ color: #CC1F01; font-weight:bold; }

::-moz-selection{ background: #d53044; color:#fff; text-shadow: none; }
::selection{ background: #d53044; color:#fff; text-shadow: none; }

/*
|-------------------------------------------------------------------------------------
|    headers_
|-------------------------------------------------------------------------------------
*/

h1
{ font-size:36pt; font-weight:bold; margin-bottom: 8px; line-height:.9; color:#2e323a; }

h2
{ font-size:24pt; font-weight:normal; margin-bottom: 10px; line-height:.9; color:#cccccc; }

h3
{ font-size:24pt; font-weight:normal; margin-bottom: 20px; line-height:1.2; font-family: 'Open Sans', sans-serif; }

/*
|-------------------------------------------------------------------------------------
|    blocks_
|-------------------------------------------------------------------------------------
*/

div.content_block
{ width:100% }

div.content_block_vpad
{ width: 100%;  padding-top: 40px; padding-bottom: 40px; }

div.content_block_top
{ width: 100%; padding-top: 40px;}

div.content_block_bottom
{ width: 100%; padding-bottom: 40px;}

div.content_separator
{ width: 100%; height: 1px; overflow: hidden; background-color: #e3e3e3; clear: both; }

div.content_separator_fff
{ width: 100%; height: 1px; overflow: hidden; background-color: #fff; clear: both; }

div.content_spacer
{ width: 100%; height: 10px; overflow: hidden; clear: both; }

/*
|-------------------------------------------------------------------------------------
|    font colors_         ---use these for text colors
|-------------------------------------------------------------------------------------
*/
.color_gray
{ color:#cccccc; } 

.color_gray2
{ color:#42454d; } 

.color_gray3
{ color:#2e323a; } 

.color_white
{ color:#ffffff; } 



/*
|-------------------------------------------------------------------------------------
|    font sizes
|-------------------------------------------------------------------------------------
*/

.font_size_12
{ font-size: 12px !important;}

.font_size_14
{ font-size: 14px !important;}

.font_size_18
{ font-size: 18px !important;}

.font_size_24
{ font-size: 24px !important;}

.font_lineheight_24
{ line-height: 24px;}

span.span_indent
{ text-indent: 15px !important; display: block; }

/*
|-------------------------------------------------------------------------------------
|    position_
|-------------------------------------------------------------------------------------
*/

.position_absolute
{ position: absolute !important; }

.position_relative
{ position: relative !important; }

.position_fixed
{ position: fixed !important; }


/*
|-------------------------------------------------------------------------------------
|    margin_
|-------------------------------------------------------------------------------------
*/

.mar_0
{ margin:0 auto;}

.mar_left_10
{ margin-left: 10px; }

.mar_right_10
{ margin-right: 10px; }

.mar_top_10
{ margin-top: 10px; }

.mar_bottom_10
{ margin-bottom: 10px; }

/* 20 pixels */
.mar_left_20
{ margin-left: 20px; }

.mar_right_20
{ margin-right: 20px; }

.mar_top_20
{ margin-top:20px; }

.mar_bottom_20
{ margin-bottom:20px; }


/* 40 pixels */

.mar_v_40
{ margin:40px 0 40px 0 !important ; }

.mar_v_40
{ margin:40px 0 40px 0 !important ; }

.mar_left_40
{ margin-left: 40px; }

.mar_right_40
{ margin-right: 40px; }

.mar_top_40
{ margin-top:40px; }

.mar_bottom_40
{ margin-bottom:40px; }


/* horizontal and vertical */
.mar_h
{ margin-left: 40px; margin-right: 40px; }

.mar_v
{ margin-top: 40px; margin-bottom: 40px; }


/*
|-------------------------------------------------------------------------------------
|    padding_
|-------------------------------------------------------------------------------------
*/

.pad_left
{ padding-left: 10px; }

.pad_left_20
{ padding-left: 20px; }

.pad_right
{ padding-right: 10px; }

.pad_right_20
{ padding-right: 20px; }

.pad_bottom_20
{ padding-bottom: 20px;}

.pad_x
{ padding-left: 20px; padding-right: 20px; margin-left: auto; margin-right: auto; }

.pad_v
{ padding-top: 20px; padding-bottom: 20px; }

.pad_v_40
{ padding-top: 40px; padding-bottom: 40px; }

.pad_x_40
{ padding-left: 40px; padding-right: 40px; }



/*
|-------------------------------------------------------------------------------------
|    float_
|-------------------------------------------------------------------------------------
*/

.float_left
{ display: inline !important; position: relative !important; float: left !important; }

.float_right
{ display: inline !important; position: relative !important; float: right !important; }

.float_right_block
{ display: block; position: relative; float: right; }

/*
|-------------------------------------------------------------------------------------
|    align_
|-------------------------------------------------------------------------------------
*/

.align_right
{ text-align: right !important; }

.align_left
{ text-align: left !important; }

.align_center
{ text-align: center !important; }

/*
|-------------------------------------------------------------------------------------
|    border_
|-------------------------------------------------------------------------------------
*/

.border_white
{ border: 1px solid #fff !important;  }

.border_black
{ border: 1px solid #000 !important; }

.border_radius
{  border-radius:4px; }

.border_radius_top
{  border-radius:4px 4px 0 0; }

.border_gray
{ border:1px #cccccc solid; }

.border_red
{ border:1px #991d38 solid; }


/*
|-------------------------------------------------------------------------------------
|    display_
|-------------------------------------------------------------------------------------
*/

.display_none
{ display: none !important; }

.display_block
{ display: block !important; }

.display_inline
{ display: inline !important; }

/*
|-------------------------------------------------------------------------------------
|    Width
|-------------------------------------------------------------------------------------
*/

.width_25
{ width: 25% !important; }

.width_half
{ width: 50% !important; }

.width_90
{ width: 90% !important; }


/*----------------------------sticky footer*/
    /*i got this from http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
*
{ margin:0; }

html, body
{ height:100%; }

.wrapper
{ min-height:100%; height:auto !important; height: 100%; margin:0 auto -4em; }

.push  /* you must add height:4em; to footer as well */
{ height:4em; }
/*----------------------------sticky footer*/